body {
  background-color: #151617;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 200%;
  color: white;
}
nav {
  display: flex;
  flex-direction: row;
  background-color: #151516;
  box-shadow: 1px 2px 30px white;
  border-radius: 15px;
}
.nav {
  margin: 10px;
  color: white;
}
#contact {
  position: absolute;
  right: 1%;
}
a:link {
  text-decoration: none;
}
a:link:hover {
  text-decoration: underline;
  text-decoration-color: white;
  border: 1px solid white;
}
#most-pop-click:hover {
  cursor: pointer;
}
#top-click:hover {
  cursor: pointer;
}
header{
  background-image: url('https://image.freepik.com/free-photo/slate-texture-background_24972-292.jpg');

}
h1 {
  margin-left: 15%;
  font-family: 'Lobster Two', cursive;
  text-decoration: underline;
  font-size: 300%;
}
.selection {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-bottom: 5px;
}
.search-bar {
  margin-bottom: 75px;
}
.search-bar input[type="text"] {
  padding: 10px;
  font-size: 20px;
  font-style: bold;
  border: 1px solid grey;
  float: left;
  width: 80%;
  margin-left: 20px;
}
.search-bar button {
  float: left;
  width: 15%;
  padding: 10px;
  background: #151516;
  color: white;
  font-size: 20px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
.most-pop {
  margin-top: 20px;
  margin-right: 20%;
  text-align: center;
}
.popStory {
  margin: 20px 35px;
  background-color: #090a0a;
  color: white;
  background-repeat: no-repeat;
  height: 200px;
  text-align: center;
  padding: 5px;
  box-shadow: 2px -2px 10px white;
}
.popStory:hover {
  cursor: pointer;
  text-decoration: underline;
}
.top {
  margin-top: 20px;
  margin-right: 20%;
  text-align: center;
}
.topStory {
  margin: 20px 35px;
  background-color: #090a0a;
  color: white;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  height: 200px;
  text-align: center;
  padding: 5px;
  box-shadow: 2px -2px 10px white;
}
.topStory:hover {
  cursor: pointer;
  text-decoration: underline;
}
.search {
  margin-top: 20px;
  margin-right: 20%;
  margin-left: 35px;
}
.searchedStory {
  /* text-align: center; */
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #090a0a;
  color: white;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  height: 200px;
  text-align: center;
  padding: 5px;
  box-shadow: 2px -2px 10px white;
}
.searchedStory:hover {
  cursor: pointer;
  text-decoration: underline;
}
.description {
  margin-top: 15px;
}
.stock-search {
  position: absolute;
  right: 80px;
  display: flex;
  flex-direction: column;
}
.stock-search input[type="text"] {
  padding: 10px;
  font-size: 15px;
  font-style: bold;
  border: 1px solid grey;
  float: left;
}
.stock-search button{
  float: left;
  padding: 10px;
  background: #151516;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
.stock-result{
  font-size: 15px;
}