body {
  background-image: url("https://cdn.pixabay.com/photo/2017/08/10/01/38/grass-2616911_960_720.jpg");
  background-size: contain;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 200%;
}
nav {
  display: flex;
  flex-direction: row;
  background-color: black;
  box-shadow: 1px 2px 30px white;
  border-radius: 15px;
}
.nav {
  margin: 10px;
  color: white;
}
a:link {
  text-decoration: none;
}
a:link:hover {
  text-decoration: underline;
  text-decoration-color: white;
  border: 1px solid white;
}
header {
  background-image: url("https://wwwimage-secure.cbsstatic.com/base/files/show_page/9610af1ce22cbc47_nfl_about_web_1400x440.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}
section {
  margin-top: 25%;
}
.nflEvent {
  border: 2px solid black;
  background-color: beige;
  height: 300px;
  width: 100%;
  margin: 10px 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  font-size: 30px;
  font-weight: bold;
  font-size: 35px;
}
.description {
  margin-left: 10px;
  margin-right: 40%;
  margin-top: 10px;
}
select {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: absolute;
  right: 200px;
  width: 400px;
  font-size: 25px;
}
.banner {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 70px;
  width: 98%;
  height: 350px;
}
#upcoming-games {
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
  color: white;
}
#upcoming-games:hover {
  cursor: pointer;
  text-decoration: underline;
}
