body {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 200%;
}
nav {
  display: flex;
  flex-direction: row;
  background-color: #151516;
  box-shadow: 1px 2px 30px white;
  border-radius: 15px;
}
.nav {
  margin: 10px;
  color: white;
}
a:link {
  text-decoration: none;
}
a:link:hover {
  text-decoration: underline;
  text-decoration-color: white;
  border: 1px solid white;
}
header {
  background-image: url("https://cdn.pixabay.com/photo/2018/03/10/09/45/businessman-3213659_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
  height: 550px;
  margin-bottom: 20px;
  box-shadow: 1px 2px 30px white;
}
h1 {
  margin-top: 30px;
  margin-left: 15%;
  font-family: "Lobster Two", cursive;
  text-decoration: underline;
  font-size: 300%;
}
#carouselSlides {
  margin: 0px 10%;
  height: 275px;
  width: 500px;
  margin-bottom: 30px;
}
.carousel-inner {
  height: 275px;
  background-size: contain;
  background-position: center;
  opacity: 0.5;
  font-weight: bolder;
  border-radius: 15px;
}
.d-block {
  margin-top: 20px;
  font-size: 30px;
  text-decoration: none;
}

form {
  margin-bottom: 75px;
}
form input[type="text"] {
  padding: 10px;
  font-size: 20px;
  font-style: bold;
  border: 1px solid grey;
  float: left;
  width: 50%;
  margin-left: 20px;
}
form button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 20px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
aside {
  position: absolute;
  right: 4%;
  display: flex;
  flex-direction: column;
}
.comp {
  opacity: 0.5;
  font-weight: bolder;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  margin-left: 20px;
}
.stock-result {
  margin-top: 20px;
  font-size: 15px;
  padding: 5px;
  border: 2px solid #2a95bf;
}
#story {
  margin-top: 100px;
}
.story {
  margin-left: 10px;
  margin-bottom: 20px;
  width: 62%;
  border: 2px solid #595959;
  color: black;
}
.story:hover {
  cursor: pointer;
  text-decoration: underline;
}
#financials {
  margin-left: 20px;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.financials {
  border: 2px solid #595959;
  margin: 5px;
}
#yearlyFinancials {
  width: 95%;
  margin: 50px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.yearlyFinancials {
  border: 2px solid #595959;
  margin: 5px;
}
